.navbar{
background: rgba(0, 0, 0, 0.2);
border-top: 1px solid rgba(255,255,255,0.1);
border-left: 1px solid rgba(255,255,255,0.1);
border-right: 1px solid rgba(255,255,255,0.04);
border-bottom: 1px solid rgba(255,255,255,0.04);
box-shadow: 20px 20px 50px rgba(0, 0,0,0.02);
background-clip: border-box;
width: max-content;
display: block;
padding: 0.7rem 1.5rem;
z-index: 999;
position: fixed;
left: 53%;
transform: translateX(-50%);
bottom: 2rem;
display: flex;
gap: 0.6rem;
border-radius: 3rem;
backdrop-filter: blur(15px);
}

.navbar a{
    background: transparent;
    padding: 0.7rem;
    border-radius: 50%;
    display: flex;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.1rem;
}

.navbar a:hover{
    background: rgba(0, 0, 0, 0.3);
}

.navbar a.active{
    background-color:#022c43 ;
    color: #fff;
}

@media (min-width: 769px) {
.navbar{
    display: none;
}
.navbar a{
    display: none;
}

.navbar a.active{
    display: none;
}
}

@media (max-width: 480px) {
    .navbar{
        gap: 0.4rem;
        padding:0.7rem 1rem; 
    }
    .navbar a{
      
    }
    
    .navbar a.active{
        
    }
    }

    @media (max-width: 393px) {
        .navbar{
            gap: 0.6rem;
            padding:0.9rem 1.2rem; 
        }
        .navbar a{
          
        }
        
        .navbar a.active{
            
        }
        }